<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
	<title>Tira</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/css/tira.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Tira</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/ticketlist">Tickets</a></li>
				<li><a href="/createticket">Create Ticket</a></li>
				<li><a href="/logout">Log Out</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<form action="/createnewticket" method="POST">
			<label>
				Subject:
				<input type="text" name="subject"/>
			</label>
			<br>
			<label>
				Description:
				<textarea name="description"></textarea>
			</label>
			<br>
			<select name="category">
				<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
			</select>
			<br>
			<select name="reporter">
				<option th:each="user: ${users}" th:value="${user.id}" th:text="${user.name}"></option>
			</select>
			<br/>
			<select name="assignees" multiple>
				<option th:each="user: ${users}" th:value="${user.id}" th:text="${user.name}"></option>
			</select>
			<br>
			<!-- <select name="status}">
				<option value="inprogress">In Progress</option>
				<option value="testing">Testing</option>
				<option value="done">Done</option>
			</select> -->
			<br>
			<input type="submit"/>
		</form>
	</div>
</body>
</html>