<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
	<title>Tira</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
	<div id="react"></div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Tira</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/">Tickets</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<h3>Basic Navbar Example</h3>
		<p>A navigation bar is a navigation header that is placed at the top of the page.</p>

		<div class="row">
			<div class="col-sm-6">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>John</td>
							<td>Doe</td>
							<td>john@example.com</td>
						</tr>
						<tr>
							<td>Mary</td>
							<td>Moe</td>
							<td>mary@example.com</td>
						</tr>
						<tr>
							<td>July</td>
							<td>Dooley</td>
							<td>july@example.com</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-6">
				<h3>HE IS NOT REAL</h3>
			</div>
		</div>
	</div>

	<!-- <script type="text/babel" src="/js/navbar.js"></script>
	<script type="text/babel" src="/js/index.js"></script> -->
</body>
</html>