<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
	<title>Tira</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/css/tira.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Tira</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/ticketlist">Tickets</a></li>
				<li><a href="/createticket">Create Ticket</a></li>
				<li><a href="/logout">Log Out</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<h3>My Open Issues</h3>

		<div class="row">
			<div class="col-sm-12">
				<p></p>
				<table class="table">
					<thead>
						<tr>
							<th>Subject</th>
							<th>Description</th>
							<th>Status</th>
							<th>Priority</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ticket: ${user.tickets}">
							<td th:text="${ticket.subject}" />
							<td th:text="${ticket.description}" />
							<td th:text="${ticket.status}" />
							<td th:text="${ticket.priority}" />
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>